*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

#small{
    height: 100px;
    width: 100px;
    background: red;
    position: absolute;
    left: 350px;
    
}

#medium{
    height: 200px;
    width: 200px;
    background:blue;
    
}

#full{
    height: 300px;
    width: 300px;
    background: yellow;
    position: relative;
}