*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    padding: 20px 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#card{
    height: 290px;
    width: 250px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);

}

#card img{
    height: 100px;
    width: 100px;
    border-radius: 90%;
}

#card h2{
    font-size: medium;
    font-weight: 700;
    font-style: italic;
}

#card p{
    font-size: small;
    font-weight: 500;
    color: gray;
    text-align: center;
}

#card button{
    padding: 10px 10px;
    border-radius: 20px 20px;
    cursor: pointer;
    padding: 10px 20px;
    
}

#card button:hover{
    background-color: lightblue;
    
}